{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page with Background Image Example</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style>
        body {
            background-image: url("{% static 'images/background_image.avif' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
        }

        .container {
            position: relative;
            z-index: 1;
        }

        .row.justify-content-center {
            min-height: 100vh;
            display: flex;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <form method="post" class="bg-light p-4 rounded mt-5">
                    {% csrf_token %}
                    <div class="text-center mb-4">
                        <img src="{% static 'images/iotlogo.png' %}" alt="Your Logo" height="80">
                        jdhdhdhdhdh
                    </div>

                     <div class="form-field">
            <input type="text" name="username" placeholder="Username" required/>
        </div>

        <div class="form-field">
            <input type="password" name="password" placeholder="Password" required/>
        </div>

                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">Log in</button>
                    </div>

                    {% if error %}
                        <p class="text-danger text-center">{{ error }}</p>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>
